@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    background-color: 	white;
    color: black;
        font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;


}



@media (max-width:1023px) {
  
    .sidebar, .navbar {
        position: fixed;
        top:0;
        left: 0;
      background-color: #eaebfe ;
        z-index: 10;
        bottom: 0;
        width: 200px;
        padding-top: 40px;
        transition: 0.5s;
        
        
    }
    .sidebar, .navbar{
        display: block;
        align-items: center;
        padding: 9px;
    }


    .hide-mobile-menu{
        left: -200px;
    }
    }